<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713383386628-lut6dam6btqu23b84kdg0t9a5ms81sk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713383386628-lut6dam6btqu23b84kdg0t9a5ms81sk8</string>
	<key>API_KEY</key>
	<string>AIzaSyCXe1AqYb83TvcPImaH-NY5zFb46oBvDik</string>
	<key>GCM_SENDER_ID</key>
	<string>713383386628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profileSection</string>
	<key>PROJECT_ID</key>
	<string>aboutsection-d476c</string>
	<key>STORAGE_BUCKET</key>
	<string>aboutsection-d476c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713383386628:ios:e4a6a6c565787260aa9f51</string>
</dict>
</plist>